---
import {
  AstroImage,
  Text,
  Link,
} from "@astro-sitecore-jss/astro-sitecore-jss";
import { AuthorWidgetProps } from "components/PageContent/AuthorWidget.astro";

const props: AuthorWidgetProps = Astro.props.route;
const id = props.params.RenderingIdentifier;
---

<div
  class={`component author-widget with-socials ${props.params.styles.trimEnd()}`}
  id={id ? id : undefined}
>
  <div class="author-card row g-0">
    <div class="col-auto">
      <AstroImage field={props.fields.Photo} class="author-img" />
    </div>
    <div class="col">
      <h6 class="author-name">
        <Text field={props.fields.Name} />
      </h6>
      <p class="author-position">
        <Text field={props.fields.Position} />
      </p>
    </div>
    <div class="col-12 col-md-auto">
      <div class="social-links">
        <Link field={props.fields?.SocialLink1}>
          <AstroImage field={props.fields?.SocialIcon1} />
        </Link>
        <Link field={props.fields?.SocialLink2}>
          <AstroImage field={props.fields?.SocialIcon2} />
        </Link>
        <Link field={props.fields?.SocialLink3}>
          <AstroImage field={props.fields?.SocialIcon3} />
        </Link>
      </div>
    </div>
  </div>
</div>
