---
import {
  AstroImage,
  Text,
  useTranslations
} from "@astro-sitecore-jss/astro-sitecore-jss";
import { ArticleListItemProps, ArticleListComponentProps } from "components/PageContent/ArticleList.astro";

const props: ArticleListComponentProps = Astro.props.route;
const id = props.params.RenderingIdentifier;

const getNewsItems = (items: ArticleListItemProps[], numOfItems: number) => {
  return items
    ?.filter((item) => item.name !== 'Data' && item.name !== 'Authors')
    .slice(0, numOfItems || undefined);
};

const t = useTranslations();
const newsItems = getNewsItems(props.fields?.items, parseInt(props.params?.NumberOfItems));
---
<div
  class={`component article-list ${props.params?.styles.trimEnd()}`}
  id={id ? id : undefined}
>
  <div class="container">
    <div class="background p-3 p-sm-5">
      {newsItems?.map((item, i) => (
        <>
          <div
            class={`row gx-5 row-gap-3 align-items-center ${
              i % 2 !== 0 ? 'flex-row-reverse' : ''
            }`}
          >
            <div class="col-lg-4">
              <AstroImage field={item.fields.Thumbnail} />
            </div>
            <div class="col-lg-8">
              <h3 class="fs-4">
                <Text field={item.fields.Title}></Text>
              </h3>
              <p class="article-excerpt fs-5">
                <Text field={item.fields.Excerpt}></Text>
              </p>
              <div class="d-flex flex-wrap gap-3 justify-content-between align-items-center">
                <a href={item.url} class="button button-secondary">
                  {t('Read more') || 'Read more'}
                </a>
              </div>
            </div>
          </div>
          {i === newsItems.length - 1 ? <></> : <hr />}
        </>
      ))}
    </div>
  </div>
</div>