---
import { ComponentProps } from "lib/component-props";
import Placeholder from "components/system/Placeholder.astro";

const props: ComponentProps = Astro.props.route;
const styles =
  `${props.params.GridParameters ?? ""} ${props.params.Styles ?? ""}`.trimEnd();
const rowStyles = [
  props.params.Styles1,
  props.params.Styles2,
  props.params.Styles3,
  props.params.Styles4,
  props.params.Styles5,
  props.params.Styles6,
  props.params.Styles7,
  props.params.Styles8,
];
const enabledPlaceholders = props.params.EnabledPlaceholders.split(",");
const id = props.params.RenderingIdentifier;
---

<div class={`component row-splitter ${styles}`} id={id ? id : undefined}>
  {
    enabledPlaceholders.map((ph) => {
      const phKey = `row-${ph}-{*}`;
      const phStyles = `${rowStyles[+ph - 1] ?? ""}`.trimEnd();

      return (
        <div class={`container-fluid ${phStyles}`.trimEnd()}>
          <div>
            <div class="row">
              <Placeholder name={phKey} rendering={props.rendering} />
            </div>
          </div>
        </div>
      );
    })
  }
</div>