---
import {
  Field,
  ImageField,
  LinkField,
  AstroImage,
  Text,
  Link,
  SitecoreContextMap,
} from "@astro-sitecore-jss/astro-sitecore-jss";

export type ColumnProps = {
  image: ImageField;
  title: Field<string>;
  text: Field<string>;
  link: LinkField;
  delay?: number;
};

const props: ColumnProps = Astro.props as ColumnProps;

const sitecoreContext = SitecoreContextMap.get()["scContext"];
const isPageEditing = sitecoreContext.pageEditing;
---

<div
  class={`column col-sm-12 col-lg-3 ${!isPageEditing ? "fade-section" : ""}`}
  data-delay=`${props.delay}`
>
  <Link field={props.link}>
    <div class="content-wrapper">
      <AstroImage field={props.image} />
      <div class="text-wrapper">
        <h2>
          <Text field={props.title} />
        </h2>
        <p>
          <Text field={props.text} />
        </p>
      </div>
    </div>
  </Link>
</div>

<script>
  import setVisibility from "components/scripts/SetVisibility";

  const refs: NodeListOf<Element> = document.querySelectorAll(".four-column-cta .column");
  setVisibility(refs);
</script>
