---
import {
  AstroImage,
  Text,
  Link,
  Field,
  ImageField,
  LinkField,
  SitecoreContextMap,
} from "@astro-sitecore-jss/astro-sitecore-jss";

import { ComponentProps } from "lib/component-props";

export type ColumnProps = {
  image: ImageField;
  text: Field<string>;
  subText: Field<string>;
  link: LinkField;
  delay?: number;
  route: ComponentProps;
};

const props: ColumnProps = Astro.props as ColumnProps;
const sitecoreContext = SitecoreContextMap.get()["scContext"];
const isPageEditing = sitecoreContext.pageEditing;
---

<div
  class={`column col-sm-12 col-lg-4 ${!isPageEditing ? "fade-section" : ""} `}
  data-delay=`${props.delay}`
>
  <Link field={props.link} class="wrapper-link">
    <div class="content-wrapper">
      <div class="d-flex align-items-center gap-3 mb-4">
        <div class="image-wrapper">
          <AstroImage field={props.image} height={32} />
        </div>
        <h2 class="eyebrow-accent mb-0 mt-2">
          <Text field={props.text} />
        </h2>
      </div>
      <p>
        <Text field={props.subText} />
      </p>
    </div>
  </Link>
</div>
