---
import {
  Link,
  Text
} from "@astro-sitecore-jss/astro-sitecore-jss";
import { HeadingCtaProps } from "components/PageContent/HeadingCta.astro";

const id = Astro.props.id;
const isPageEditing: boolean = Astro.props.isPageEditing;
const props: HeadingCtaProps = Astro.props.route;
---

<div
  class={`component heading-cta compact ${props.params.styles.trimEnd()}`}
  id={id ? id : undefined}
>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="heading-content-wrapper">
          <h6 class="eyebrow-accent">
            <Text field={props.fields?.Eyebrow} />
          </h6>
          <h2 class="display-6 fw-bold">
            <Text field={props.fields?.Heading} />
          </h2>
          <p>
            <Text field={props.fields?.Text} />
          </p>
        </div>
        {
          (isPageEditing || props.fields?.Link?.value?.href) && (
            <Link field={props.fields.Link} class="button button-main" />
          )
        }
      </div>
    </div>
  </div>
</div>