---
import {
  AstroImage,
  Text,
  RichText,
  Link,
} from "@astro-sitecore-jss/astro-sitecore-jss";

import DottedAccent from "components/NonSitecore/DottedAccent.astro";
import IconAccent from "components/NonSitecore/IconAccent.astro";
import { CtaBannerProps } from "components/PageContent/CtaBanner.astro";

const props: CtaBannerProps = Astro.props.route;
const id = Astro.props.id;
const isPageEditing = Astro.props.isPageEditing;
---

<div
  class={`component cta-banner component-spaced ${props.params.styles.trimEnd()}`}
  id={id ? id : undefined}
>
  <div class="container container-widest-fluid">
    <div class="container">
      <div class="row row-gap-4 main-content align-items-center">
        <div class="col-lg-6">
          <IconAccent image={props.fields.Icon} inverted />
          <div class="content-wrapper">
            <h6 class="eyebrow-accent">
              <Text field={props.fields.Eyebrow} />
            </h6>
            <h1 class="display-4 fw-bold mb-3">
              <Text field={props.fields.Title} />
            </h1>
            <div class="fs-5">
              <RichText field={props.fields.Text} class="text-content" />

              {
                (isPageEditing || props.fields?.Link?.value?.href) && (
                  <Link field={props.fields.Link} class="button button-main mt-3" />
                )
              }
            </div>
          </div>
        </div>
        <div class="col-md-10 mx-auto col-lg-6 mx-lg-0">
          <div class="image-wrapper">
            <DottedAccent class="dotted-accent-top" />
            <AstroImage
              field={props.fields.Image}
              class={`d-block mx-lg-auto img-fluid ${
                !isPageEditing ? "fade-section" : ""
              }`}
            />
            <DottedAccent class="dotted-accent-bottom" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
