---
import {
  Field,
  ImageField,
  LinkField,
  RichTextField,
  AstroImage,
  Link,
  Text,
  RichText,
} from "@astro-sitecore-jss/astro-sitecore-jss";

interface Fields {
  Eyebrow: Field<string>;
  Text: RichTextField;
  Link: LinkField;
  Image1: ImageField;
  Title1: Field<string>;
  Text1: Field<string>;
  Title2: Field<string>;
  Text2: Field<string>;
}

export type FeaturesProps = {
  params: { [key: string]: string };
  fields: Fields;
};

const props: FeaturesProps = Astro.props.route;
const id = props.params.RenderingIdentifier;
---

<div
  class={`component features component-spaced ${props.params.styles.trimEnd()}`}
  id={id ? id : undefined}
>
  <div class="container">
    <div class="info">
      <div class="eyebrow-accent">
        <Text field={props.fields?.Eyebrow} />
      </div>
      <div class="tagline">
        <RichText field={props.fields?.Text} />
      </div>
      <div class="button button-main">
        <Link field={props.fields?.Link} />
      </div>
    </div>
    <div class="items">
      <div class="item left">
        <div class="icon">
          <AstroImage field={props.fields?.Image1} />
        </div>
        <div class="title">
          <Text field={props.fields?.Title1} />
        </div>
        <p class="subtitle">
          <Text field={props.fields?.Text1} />
        </p>
      </div>
      <div class="item right">
        <div class="title">
          <Text field={props.fields?.Title2} />
        </div>
        <p class="subtitle">
          <Text field={props.fields?.Text2} />
        </p>
      </div>
    </div>
  </div>
</div>
