---
import {
  Field,
  ImageField,
  LinkField,
} from "@astro-sitecore-jss/astro-sitecore-jss";
import FourColumn from "components/NestedComponents/FourColumn.astro";

interface Fields {
  Title1: Field<string>;
  Text1: Field<string>;
  Image1: ImageField;
  Link1: LinkField;
  Title2: Field<string>;
  Text2: Field<string>;
  Image2: ImageField;
  Link2: LinkField;
  Title3: Field<string>;
  Text3: Field<string>;
  Image3: ImageField;
  Link3: LinkField;
  Title4: Field<string>;
  Text4: Field<string>;
  Image4: ImageField;
  Link4: LinkField;
}

export type FourColumnCtaProps = {
  params: { [key: string]: string };
  fields: Fields;
};

const props: FourColumnCtaProps = Astro.props.route;
const id = props.params.RenderingIdentifier;
---

<div
  class={`component component-spaced four-column-cta ${props.params.styles.trimEnd()}`}
  id={id ? id : undefined}
>
  <div class="container">
    <div class="row">
      <FourColumn
        image={props.fields.Image1}
        title={props.fields.Title1}
        text={props.fields.Text1}
        link={props.fields.Link1}
        delay={0}
      />
      <FourColumn
        image={props.fields.Image2}
        title={props.fields.Title2}
        text={props.fields.Text2}
        link={props.fields.Link2}
        delay={500}
      />
      <FourColumn
        image={props.fields.Image3}
        title={props.fields.Title3}
        text={props.fields.Text3}
        link={props.fields.Link3}
        delay={1000}
      />
      <FourColumn
        image={props.fields.Image4}
        title={props.fields.Title4}
        text={props.fields.Text4}
        link={props.fields.Link4}
        delay={1500}
        route={props}
      />
    </div>
  </div>
</div>
